SOAP/ServidorMio/web/WEB-INF/wsdl/localhost_8080/ServidorMio/WSOperaciones.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="WSOperaciones">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/ServidorMio/WSOperaciones?xsd=1"/>
</xsd:schema>
</types>
<message name="CrearEstudiante">
<part name="parameters" element="tns:CrearEstudiante"/>
</message>
<message name="CrearEstudianteResponse">
<part name="parameters" element="tns:CrearEstudianteResponse"/>
</message>
<message name="ActualizarEstudiante">
<part name="parameters" element="tns:ActualizarEstudiante"/>
</message>
<message name="ActualizarEstudianteResponse">
<part name="parameters" element="tns:ActualizarEstudianteResponse"/>
</message>
<message name="ObtenerEstudiantes">
<part name="parameters" element="tns:ObtenerEstudiantes"/>
</message>
<message name="ObtenerEstudiantesResponse">
<part name="parameters" element="tns:ObtenerEstudiantesResponse"/>
</message>
<message name="EliminarEstudiante">
<part name="parameters" element="tns:EliminarEstudiante"/>
</message>
<message name="EliminarEstudianteResponse">
<part name="parameters" element="tns:EliminarEstudianteResponse"/>
</message>
<portType name="WSOperaciones">
<operation name="CrearEstudiante">
<input wsam:Action="http://ws/WSOperaciones/CrearEstudianteRequest" message="tns:CrearEstudiante"/>
<output wsam:Action="http://ws/WSOperaciones/CrearEstudianteResponse" message="tns:CrearEstudianteResponse"/>
</operation>
<operation name="ActualizarEstudiante">
<input wsam:Action="http://ws/WSOperaciones/ActualizarEstudianteRequest" message="tns:ActualizarEstudiante"/>
<output wsam:Action="http://ws/WSOperaciones/ActualizarEstudianteResponse" message="tns:ActualizarEstudianteResponse"/>
</operation>
<operation name="ObtenerEstudiantes">
<input wsam:Action="http://ws/WSOperaciones/ObtenerEstudiantesRequest" message="tns:ObtenerEstudiantes"/>
<output wsam:Action="http://ws/WSOperaciones/ObtenerEstudiantesResponse" message="tns:ObtenerEstudiantesResponse"/>
</operation>
<operation name="EliminarEstudiante">
<input wsam:Action="http://ws/WSOperaciones/EliminarEstudianteRequest" message="tns:EliminarEstudiante"/>
<output wsam:Action="http://ws/WSOperaciones/EliminarEstudianteResponse" message="tns:EliminarEstudianteResponse"/>
</operation>
</portType>
<binding name="WSOperacionesPortBinding" type="tns:WSOperaciones">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="CrearEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActualizarEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ObtenerEstudiantes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSOperaciones">
<port name="WSOperacionesPort" binding="tns:WSOperacionesPortBinding">
<soap:address location="http://localhost:8080/ServidorMio/WSOperaciones"/>
</port>
</service>
</definitions>